[user]
  signingkey = ED752FEC51A98CFE
  name = Christopher Blanchard
  email = cablanchard@gmail.com

[include]
	path = .gitconfig.override

[commit]
  gpgsign = true
  verbose = true
  template = ~/.gitmessage

[color]
  ui = true

[alias]
  co = checkout
  aa = add --all
  ff = merge --ff-only
  fa = fetch --all
  pom = push origin master
  rom = rebase origin/master
  dh1 = diff HEAD~1
  lo = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  fh = log --follow -p --

[merge]
  tool = vimdiff

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[core]
  excludesfile = ~/.gitignore_global
  editor=$EDITOR
  untrackedCache = true
  trustctime = false

[fetch]
  prune = true

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "https://github.com/"
  pushInsteadOf = "git://github.com/"

[url "git@github.com:cblanc/"]
  insteadOf = "gc:"
  pushInsteadOf = "git@github.com:cblanc/"

[url "git@github.com:ideal-postcodes/"]
  insteadOf = "gi:"
  pushInsteadOf = "git@github.com:ideal-postcodes/"

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
  commit = yellow bold

[color "status"]
  added = yellow
  changed = blue
  untracked = red

[diff "bin"]
  textconv = hexdump -v -C

[github]
  user = cblanc

[ghi]
  token = !security find-internet-password -a cblanc -s github.com -l 'ghi token' -w

[protocol "keybase"]
	allow = always
[pull]
	rebase = true
